@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.caixa-principal {
    background-color: #241a1e;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.caixa-perguntas {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.caixa-alternativas button {
    background-color: #121212;
    color: #ffb6c1;
    border: none;
    padding: 12px;
    margin: 8px 0;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.2s;
}

.caixa-alternativas button:hover {
    background-color: #343A40;
}

.texto-resultado {
    font-style: italic;
    color: #FFD1DC;
    margin-top: 20px;
}

.caixa-resultado{
    display: none;
}

.caixa-resultado.mostrar{
    display: block;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1, .caixa-perguntas, .caixa-resultado{
    font-family: 'Chakra Petch', sans-serif;
}

.caixa-alternativas{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
